
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #0d0d0d;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.logo span {
  color: #f542f2;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: orange;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::before {
  width: 100%;
}

.connect-btn {
  padding: 10px 20px;
  background: linear-gradient(to right, #d946ef, #fb923c);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .connect-btn {
    width: 100%;
  }
}
